*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
}


/* ======= Start Header =======*/
nav{
    display: flex;
    background-color: #FFB800;
    justify-content: space-around;
    height: 70px;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 10;
    cursor: pointer;
}

.logo img{
    width: 30px;
    margin: 0 50px;
}

.logo{
    align-items: flex-start;
    margin-right: 33%;
}

nav ul{
    display: flex;
    list-style: none;
    width: 30%;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a h1{
    font-weight: bold;
}

nav li a {
    transition: all 0.3s ease 0s;
}

nav ul li a:hover {
    color: #EEEEEE;
}
/* ======= End Header =======*/


/* ======= Start Main =======*/

/* Start Home */
#home{
    z-index: -1;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 750px;
    border: none;
    margin: 0 auto;
    background-image: linear-gradient(rgb(48, 56, 65, 0.7),rgb(48, 56, 65, 0.7)),url(../img/bg0.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    color: #EEEEEE;
}

#home h1{
    color: #FFB800;
}

.wrap-home{
    margin-left: 150px;
    width: 40%;
}

.company-name{
    text-align: left;
    justify-content: left;
}

.company-name h1{
    font-size: 60px;
    margin-bottom: 20px;
}

.company-desc h4 {
    font-size: 20px;
    font-weight: lighter;
}
/* End Home */

/* Start Employee of the month*/
#employee-month{
    max-width: 100%;
    height: 750px;
    padding-top: 40px;
}

#employee-month h2{
    margin: 80px 0 50px;
    text-align: center;
    color: #FFB800;
}

.wrap-employee{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px 30px;
}

.the-employee{
    display: flex;
    flex-direction: column;
    width: 21%; 
    padding: 20px;
    background-color: #101216;
    border-radius: 20px;
    color: #EEEEEE;
    cursor: pointer;
}

.the-employee img{
    margin-bottom: 15px;
    border-radius: 20px;
}

.the-employee:hover {
    transition: all 0.3s ease 0s;
    box-shadow: 0px 0px 5px 5px #a1871f;
    width: 21.5%;
}
/* End Employee of the month*/

/* Start Calculate*/
#calculate{
    max-width: 100%;
    height: 760px;
    text-align: center;
}

#calculate h2{
    color: #FFB800;
    padding: 120px 0 30px 0;
}

.calculate-wrap{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    margin: 20px 150px 700px 150px;
    justify-content: space-evenly;
    background-color: #dda20d;
    border-radius: 30px;
    height: auto;
}

.star{
    color: rgb(212, 14, 14);
}

.star-paragraph{
    font-size: 14px;
    padding: 5px 0;
    color: rgb(62, 63, 73);
}

.calculate-salary{
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    text-align: left;
    padding: 10px 10px 10px 0;
}

.calculate-salary h4{
    padding-left: 10px;
    font-weight: bold;
}

th, td{
    padding: 5px 10px;
}

.calculate-icon{
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
} 

.calculate-icon img{
    border-radius: 20px;
    margin: 30px;
    width: 85%;
    box-shadow: 5px 5px 10px #333
}

input, select{
    width: 95%;
    height: 35px;
    border-radius: 5px;
    background-color: white;
    text-align: center;
}

button {
    width: 97%;
    height: 40px;
    background: none;
    border-radius: 20px;
    border: #222831 3px solid;
    color: #101216;
}
/* End Calculate*/

/* Start Article */
#article{
    max-width: 100%;
    height: 760px;
    text-align: center;
    color: #EEEEEE;
    padding: 100px 0;
}

#article h2{
    color: #FFB800;
    margin-bottom: 20px;
}

.article-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.article-content{
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #101216;
    width: 80%;
    margin: 10px;
    border-radius: 20px;
    padding: 20px;
    cursor: pointer;
}

.article-content:hover {
    transition: all 0.3s ease 0s;
    box-shadow: 0px 0px 5px 5px #a1871f;
}

.article-content h3{
    color: #FFB800;
}

.read-more{
    color: #a39c9ca1;
}

/* End Article */

/* Start Contact*/
#contact{
    max-width: 100%;
    height: 760px;
    text-align: center;
    padding: 100px 200px;
}

#contact h2{
    color: #FFB800;
    padding: 40px;
}

.contact-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dda20d;
    border-radius: 20px;
}

.contact-wrap1{
    display: flex;
    flex-direction: row;
    margin: 40px 30px 0 30px;
}

.contact-profile{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-profile-nicaza, .contact-profile-nika{
    width: 50%;
}

.contact-profile-nicaza img{
    width: 30%;
    margin-bottom: 20px;
}

.contact-profile-nika img{
    width: 30%;
    border-radius: 20px;
    margin-bottom: 20px;

}

.contact-wrap2{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    margin: 0 30px 40px 30px;
}

.contact-wrap2-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;  
    margin: 0 150px;
}

.contact-list{
    margin: 0 10px;
}

.contact-list:hover{
    cursor: pointer;
}

.contact-list img{
    width: 30px;
}
/* End Contact*/

/* Start Footer */
footer{
    padding: 30px 0 20px 0;
    color: #101216;
    background-color: #FFB800;
    text-align: center;
    height: 150px;
}

footer img{
    width: 30px;
    padding: 10px 0 15px 0;
    margin-right: 5px;
}

footer p{
    margin-top: 10px;
}
/* End Footer */

/* ======= End Main =======*/